/*######Color variables######*/
:root{
    --white: #eee;
    --dark: #555;
    --primary: #4169E1;
    --secondary: #31337a;
    --contrast: #05cdff;
    --gray: #ccc;
    --tooDark: #222;
    --true: #81fc0d;
    --false: #fc0d0d;
}

/*######Default######*/
*{
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: var(--dark);
    font-family: RobotoCondensed, Arial;
    font-size: 1rem;
}

.clearfix{
    float: none;
    clear: both;
}

.title{
    margin: 0;
    padding: 20px;
    background: var(--secondary);
    color: var(--contrast);
    font-weight: 700;
    font-size: 40px;
}

/*######Return######*/
.menu{
    background: var(--secondary);
    padding: 40px;
    text-align: center;
}

.menu .button{
    display: flex;
    flex-direction: column;
    width: 100px;
    border: 1px solid;
    border-radius: 5px;
    background: var(--white);
    margin: 10px;
    transition: all 200ms;
}

.menu .button:hover{
    background: var(--tooDark);
    color: var(--contrast);
}

.menu .button a{
    padding: 5px 0px;
    text-decoration: none;
    color: var(--secondary);
}

.menu .button:hover a{
    color: var(--contrast);
}

/*######Login######*/
.log{
    display: block;
    padding: 30px;
    background: var(--white);
    background-image: url(../img/paven.png);
}

.log form{
    padding: 50px;
    text-align: center;
}
.log form label{
    padding: 0px 0px;
    font-size: 25px;
}

.log form input{
    display: block;
    margin: 0px auto;
    border-radius: 5px;
}

.log form input[type="text"],[type="password"]{
    font-size: 20px;
    display: block;
    padding: 6px;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 50%;
    box-shadow: 0px 0px 5px black;
    margin-top: 10px;
    margin-bottom: 20px;
}

.log form #password{
    margin-top: 10px;
    margin-bottom: 20px;
}

.log form input[type="submit"]{
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    color: var(--secondary);
    transition: all 200ms;
    padding: 10px;
}

.log form input[type="submit"]:hover{
    background: var(--tooDark);
    color: var(--contrast);
}

/*######Footer######*/
footer #content{
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    color: var(--white);
    font-size: 1.2rem;
}

@media screen and (max-width: 800px){
    .modify .container{
        width: 80%;
    }
    
    .log form{
        padding: 0px;
        text-align: center;
    }

    .log form input[type="text"],[type="password"]{
        width: 90%;
    }
}