/*######Color variables######*/
:root{
    --white: #eee;
    --dark: #555;
    --primary: #4169E1;
    --secondary: #31337a;
    --contrast: #05cdff;
    --gray: #ccc;
    --tooDark: #222;
    --true: #81fc0d;
    --false: #fc0d0d;
}

/*######Default######*/
*{
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: var(--dark);
    font-family: RobotoCondensed, Arial;
    font-size: 1rem;
}

.clearfix{
    float: none;
    clear: both;
}

.title{
    margin: 0;
    padding: 20px;
    background: var(--secondary);
    color: var(--contrast);
    font-weight: 700;
    font-size: 40px;
}

/*######BANNER######*/
#banner{
    width: 90%;
    height: 90px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px gray;
    background-image: url(../img/green.jpg);
    background-position: -600px -250px;
    margin: 20px auto;
    overflow: hidden;
    animation: backBanner 10s linear;
}

@keyframes backBanner{
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position: -600px -250px;
    }
}

#banner h2{
    display: block;
    width: 850px;
    color: white;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 0px auto;
    margin-top: 27px;
    margin-right: 120px;
    animation: showText 5s linear;
}

@keyframes showText{
    0%{
        transform: translateX(-600%) scale(5,5);
        opacity: 1;
    }
    50%{
        transform: translateX(600%) scale(5,5);
        opacity: 1;
    }
    75%{
        transform: translateX(-600%) scale(5,5);
        text-shadow: none;
        color: transparent;
        opacity: 0;
    }
    100%{
        transform: translateX(0%) scale(1,1);
        text-shadow: 2px 2px 1px black;
        color: white;
        opacity: 1;
    }
}

/*######Return######*/
.menu{
    background: var(--secondary);
    padding: 20px;
    text-align: center;
}

.menu .button{
    display: flex;
    flex-direction: column;
    width: 100px;
    border: 1px solid;
    border-radius: 5px;
    background: var(--white);
    margin: 10px;
    transition: all 200ms;
}

.menu .button:hover{
    background: var(--tooDark);
    color: var(--contrast);
}

.menu .button a{
    padding: 5px 0px;
    text-decoration: none;
    color: var(--secondary);
}

.menu .button:hover a{
    color: var(--contrast);
}

/*######Login######*/
.log{
    display: block;
    padding: 30px;
    background: var(--white);
    background-image: url(../img/paven.png);
}

.log h2{
    color: var(--primary);
    font-size: 35px;
    text-align: center;
}

.log form{
    padding: 30px;
    text-align: center;
}
.log form label{
    padding: 0px 0px;
    font-size: 25px;
}

.log form input{
    display: block;
    margin: 0px auto;
    border-radius: 5px;
}

.log form input[type="text"],[type="password"]{
    font-size: 20px;
    display: block;
    padding: 6px;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 50%;
    box-shadow: 0px 0px 5px black;
    margin-top: 10px;
    margin-bottom: 20px;
}

.log form input[type="number"]{
    font-size: 20px;
    display: block;
    padding: 6px;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 50%;
    box-shadow: 0px 0px 5px black;
    margin-top: 10px;
    margin-bottom: 20px;
}

.log form select{
    font-size: 20px;
    display: block;
    margin: 0px auto;
    padding: 6px;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 50%;
    box-shadow: 0px 0px 5px black;
    margin-top: 10px;
    margin-bottom: 20px;
}

.log form #password{
    margin-top: 10px;
    margin-bottom: 20px;
}

.log form input[type="submit"]{
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    color: var(--secondary);
    transition: all 200ms;
    padding: 10px;
}

.log form input[type="submit"]:hover{
    background: var(--tooDark);
    color: var(--contrast);
}

/*######Footer######*/
footer #content{
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    color: var(--white);
    font-size: 1.2rem;
}

footer #content a{
    text-decoration: none;
    color: var(--contrast);
}

@media screen and (max-width: 800px){
    .modify .container{
        width: 80%;
    }
    
    .log form{
        padding: 0px;
        text-align: center;
    }

    .log form input[type="text"],[type="password"]{
        width: 90%;
    }
    
    .log form input[type="number"]{
        width: 90%;
    }
    
    .log form select{
        width: 90%;
    }
}