/*######Color variables######*/
:root{
    --white: #eee;
    --dark: #555;
    --primary: #4169E1;
    --secondary: #31337a;
    --contrast: #05cdff;
    --gray: #ccc;
    --tooDark: #222;
    --true: #81fc0d;
    --false: #fc0d0d;
}

/*######Default######*/
*{
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: var(--dark);
    font-family: RobotoCondensed, Arial;
    font-size: 1rem;
}

.sorry{
    color: var(--primary);
    text-align: center;
    font-size: 27px;
    padding: 30px;
}

.title{
    margin: 0;
    padding: 20px;
    background: var(--secondary);
    color: var(--contrast);
    font-weight: 700;
    font-size: 40px;
}

.clearfix{
    float: none;
    clear: both;
}

/*######Description######*/

.Details{
    background: var(--white);
    background-image: url(../img/paven.png);
    padding: 20px;
}

.Details h2{
    color: var(--primary);
    font-size: 35px;
    text-align: center;
}

.Details .reservation-container{
    border: 2px solid;
    color: var(--primary);
    border-radius: 15px;
    padding: 20px;
}

.Details .reservation-container .thumb img{
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}

.Details .reservation-container .description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Details .reservation-container .description p{
    font-size: 25px;
    color: var(--dark);
}


/*######BANNER######*/
#banner{
    width: 90%;
    height: 90px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px gray;
    background-image: url(../img/bk.jpg);
    background-position: -600px -250px;
    margin: 20px auto;
    overflow: hidden;
    animation: backBanner 10s linear;
}

@keyframes backBanner{
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position: -600px -250px;
    }
}

#banner h2{
    display: block;
    width: 850px;
    color: white;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 0px auto;
    margin-top: 27px;
    margin-right: -50px;
}

/*######Return######*/
.menu{
    background: var(--secondary);
    padding: 20px;
    text-align: center;
}

.menu .button{
    display: flex;
    flex-direction: column;
    width: 100px;
    border: 1px solid;
    border-radius: 5px;
    background: var(--white);
    margin: 10px;
    transition: all 200ms;
}

.menu .button:hover{
    background: var(--tooDark);
    color: var(--contrast);
}

.menu .button a{
    padding: 5px 0px;
    text-decoration: none;
    color: var(--secondary);
}

.menu .button:hover a{
    color: var(--contrast);
}

/*######Footer######*/
footer #content{
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    color: var(--white);
    font-size: 1.2rem;
}

footer #content a{
    text-decoration: none;
    color: var(--contrast);
}

@media screen and (max-width: 800px){
    .Details .reservation-container .description p{
        font-size: 15px;
        color: var(--dark);
    }
}