<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Home Car Rental</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <link th:href="@{/css/normalize.css}" href="../static/css/normalize.css" rel="stylesheet"/>
        <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet"/>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script type="text/javascript" th:src="@{/js/index.js}"></script>
    </head>
    <body>
        <header>
            <div class="menu">
                <h1 class="title">Car Rental System <i class="fas fa-car"></i></h1>
                <div class="clearfix"></div>
                <nav class="nav-menu container">
                    <a th:href="@{/login}">Log in</a>
                    <a th:href="@{/logup}">Register</a>
                    <a id="gallery">Gallery</a>
                </nav>
            </div>
        </header>
        <section id="banner">
            <h2>
                Every car you want in one place
            </h2>            
        </section>
        <section id="search">
            <div id="ordering">
                <h3>Log in to get the best experience</h3>
            </div>
        </section>
        <section class="cars">
            <div class="container">
                <h2 class="subtitle">Available cars:</h2>
                <div class="cars-container" th:if="${cars != null and !cars.empty}">
                    <div class="car" th:each="car : ${cars}">
                        <div class="thumb">
                            <img th:with="carName=${car.name}" th:src="@{/img/genericCar.jpg}" src="../static/img/genericCar.jpg" height="250" alt="Car" />
                        </div>
                        <div class="description">
                            <p class="name" th:text="${car.name}">Show name</p>
                            <p class="make" th:text="${car.brand}">Show make</p>
                            <p class="model" th:text="${car.year}">Show model</p>
                            <p class="available" th:if='${car.availability == "true"}'>Available</p>
                            <p class="unavailable" th:if='${car.availability == "false"}'>Unavailable</p>
                        </div>
                    </div>
                </div>
                <div th:if="${cars == null or cars.empty}">
                    The car's list is empty
                </div>
            </div>
        </section>
        <footer>
            <div id="content">
                Car Rental System &copy All Rights Reserved <a th:href="@{https://rresendizlazaro.github.io/raulresendiz/index.html}">Raul Resendiz</a>
            </div>
        </footer>
    </body>
</html>
