<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Login</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Login</h1>
        <form method="POST" th:action="@{/login}">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username"/>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password"/>
            <input type="submit" value="Login" />
        </form>
    </body>
</html>
