<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Register</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--<link th:href="@{/css/normalize.css}" href="../static/css/normalize.css" rel="stylesheet"/>
        <link th:href="@{/css/register_style.css}" href="../static/css/register_style.css" rel="stylesheet"/>-->
    </head>
    <body>
        <h1>Register</h1>
        <div id="return">
            <a th:href="@{/home}">Return</a>
        </div>
        <br/>
        <div class="register">
            <div>
                <h1>User Registration - Sign Up</h1>
            </div>
            <form th:action="@{/register}" method="POST" th:object="${user}">
                <label for="username">Username: </label>
                <input type="text" name="username" th:field="*{username}" />
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error username</span>
                <label for="password">Password: </label>
                <input type="password" name="password" th:field="*{password}" />
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error password</span>
                <input type="submit" name="register" value="Register" />
            </form>
        </div>
        <footer>
            <div id="content">
                Car Rental System &copy All Rights Reserved Raul Resendiz
            </div>
        </footer>
    </body>
</html>
